<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <section class="panel">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed mb-none">
              <thead>
              <tr>
                <th class="col-md-3"></th>
                <th class="col-md-3"></th>
                <th class="text-center">Completed</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Re-Certify</th>
                <th class="text-center">Share</th>
                <th class="text-center">Download</th>
                <th class="text-center">Print</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Healthcare Proxy</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <td>Maryland MOLST 1</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <td>Maryland MOLST 1</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <td>Maryland MOLST 1</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="pull-right label label-default">Dr.'s Messages</h1>

        <div class="notification-menu">
          <div class="notification-title">
            <h3 class="pull-right label label-default">Dr.'s Messages</h3>
            Dr.'s Messages
          </div>

          <div class="content">
            <ul>
              <li>
                <a href="#" class="clearfix">
                  <figure class="image">
                    <img src="../assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle" />
                  </figure>
                  <span class="title">Joseph Doe</span>
                  <span class="message">Lorem ipsum dolor sit.</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <figure class="image">
                    <img src="../assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle" />
                  </figure>
                  <span class="title">Joseph Junior</span>
                  <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <figure class="image">
                    <img src="../assets/images/!sample-user.jpg" alt="Joe Junior" class="img-circle" />
                  </figure>
                  <span class="title">Joe Junior</span>
                  <span class="message">Lorem ipsum dolor sit.</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <figure class="image">
                    <img src="../assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle" />
                  </figure>
                  <span class="title">Joseph Junior</span>
                  <span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                </a>
              </li>
            </ul>

            <hr />

            <div class="text-right">
              <a href="#" class="view-more">View All</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <section class="panel">
          <header class="panel-heading panel-heading-transparent">
            <div class="panel-actions">
              <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
              <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
            </div>

            <h2 class="panel-title">What's Next?</h2>
          </header>
          <div class="panel-body">
            <div class="timeline timeline-simple mt-xlg mb-md">
              <div class="tm-body">
                <ol class="tm-items">
                  <li>
                    <div class="tm-box">
                      <p class="text-muted mb-none">7 months ago.</p>
                      <p>
                        It's awesome when we find a good solution for our projects, Porto Admin is <span class="text-primary">#awesome</span>
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="tm-box">
                      <p class="text-muted mb-none">7 months ago.</p>
                      <p>
                        It's awesome when we find a good solution for our projects, Porto Admin is <span class="text-primary">#awesome</span>
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="tm-box">
                      <p class="text-muted mb-none">7 months ago.</p>
                      <p>
                        It's awesome when we find a good solution for our projects, Porto Admin is <span class="text-primary">#awesome</span>
                      </p>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
